{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block extrastatic %}
<style media="screen"></style>
{% endblock extrastatic %}{% block title %} Inicio {% endblock %}

{% block content %}
<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <br/>
          <!--<h1 class="h3 mb-2 text-gray-800">Inicio</h1>-->
          <!-- Earnings Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Cuentas</h6>
              </div>
              <div class="card-body">
                  {% if cuentas  %}
                    <div class="row">
                    {% for cuenta in cuentas  %}
                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                          <div class="card-body">
                            <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{cuenta.nombre}}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{cuenta.saldo}}</div>
                              </div>
                              <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                  <h1> No hay cuentas </h1>
                  {% endif %}
                </div>
              </div>              
            </div>
          <div class="row">

          </div>
        <!-- /.container-fluid -->

        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Informe de mis cuentas</h6>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
                </div>
            </div>
        </div>
{% endblock content %}


{% block extrajs %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script type="text/javascript">
    options = {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    responsive: true,
                    mainAspectRatio: false
                }
            }]
        }
    }
    $.get('{% url "usuarios:cuentas_y_saldo_json" %}', function(data) {
        console.log(data)
        var ctx = $("#myChart").get(0).getContext("2d");
        new Chart(ctx, {
            type: 'bar', data: data, options:options
        });
    });
</script>


  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>


{% endblock extrajs %} 