{% extends 'base/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block extrastatic %}
<style media="screen"></style>
{% endblock extrastatic %}{% block title %} Inicio {% endblock %}

{% block content %}
<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <br/>
          <!--<h1 class="h3 mb-2 text-gray-800">Inicio</h1>-->
          <!-- Earnings Card Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Cuentas</h6>
              </div>
              <div class="card-body">
                  {% if cuentas  %}
                    <div class="row">
                    {% for cuenta in cuentas  %}
                      <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                          <div class="card-body">
                            <div class="row no-gutters align-items-center">
                              <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{cuenta.nombre}}</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{cuenta.saldo}}</div>
                              </div>
                              <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                  <h2> No hay cuentas, registre su primera cuenta dando <a href="/cuentas/registrar">click aqui</a></h2>
                  {% endif %}
                </div>
              </div>              
            </div>

            <!-- PRESUPUESTOS -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Presupuestos</h6>
              </div>
              <div class="card-body">
                  {% if presupuestos  %}
                    <div class="row">
                    {% for presupuesto in presupuestos %}
                      <!-- Donut Chart -->
                      <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                          <!-- Card Header - Dropdown -->
                          <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{presupuesto.nombre}}</h6>
                          </div>
                          <!-- Card Body -->
                          <div class="card-body">
                            <div id=body_{{presupuesto.nombre}}>
                              <h4 class="small font-weight-bold">Total Actual: $ {{presupuesto.total_actual}} <span class="float-right">Total Planeado: $ {{presupuesto.total_planeado}}</span></h4>
                            </div>
                            <div class="chart-pie pt-4">
                              <canvas id="{{presupuesto.nombre}}"></canvas>
                            </div>
                            <div class="mt-4 text-center small" id="{{presupuesto.nombre}}_{{presupuesto.total_planeado}}">
                            </div> 
                            <!--<div class="progress mb-4">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ></div>
                            </div>-->                           
                          </div>
                        </div>
                      </div>
                      <!-- donutChart-->
                    {% endfor %}
                  {% else %}
                  <h2> No hay presupuestos, registre su primer presupuesto dando <a href="/presupuestos/registrar">click aqui</a> </h2>
                  {% endif %}
                </div>
              </div>              
            </div>
          <div class="row">

          </div>
        <!-- /.container-fluid -->


        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Informe de mis cuentas</h6>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
                </div>
            </div>
        </div>

{% endblock content %}


{% block extrajs %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
      $.get('{% url "usuarios:getGraficPie" %}', function(data) {
          console.log(data)
          var colors = ["text-primary","text-success","text-info","text-warning","text-danger","text-secondary"]
          for (var i = 0; i < data.length; i++) {
            var ctx = document.getElementById(data[i].nombre);
            console.log(data[i].nombre);
            var tamañoCategoria = data[i].categorias.length;
            var labelsIn = []
            var dataIn = []
            for (var x = 0; x < tamañoCategoria; x++) {
              //console.log(data[i].categorias[x].categoria_nombre);
              labelsIn.push(data[i].categorias[x].categoria_nombre);
              dataIn.push(data[i].categorias[x].categoria_planeado);              
              var addDiv = $(document.getElementById(data[i].nombre+"_"+data[i].total_planeado));
              $(addDiv).append(" <span class='mr-2'><i class='fas fa-circle "+colors[x]+"'></i> "+data[i].categorias[x].categoria_nombre+"</span>");
            }
            new Chart(ctx, {
              type:'doughnut',
              data:{
                labels: labelsIn,
                datasets: [{
                  data: dataIn,
                  backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc','#f6c23e','#e74a3b','#858796'],
                  hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                  hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
              },
              options: {
                maintainAspectRatio: false,
                tooltips: {
                  backgroundColor: "rgb(255,255,255)",
                  bodyFontColor: "#858796",
                  borderColor: '#dddfeb',
                  borderWidth: 1,
                  xPadding: 15,
                  yPadding: 15,
                  displayColors: false,
                  caretPadding: 10,
                },
                legend: {
                  display: false
                },
                cutoutPercentage: 80,
              },
            });
          }
      });
  });
  
    
</script>


  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>


{% endblock extrajs %} 